.languagesContainer {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.title {
    color: #E26D5C;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.intro{
    text-align: center;
    margin-bottom: 2rem;
    color: #848484;
}

.progressContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.languageName {
    flex: 1;
    font-size: 1.1rem;
    color: #333;
}

.progressBar {
    flex: 2;
    background-color: #ddd;
    overflow: hidden;
    height: 20px;
    position: relative;
}

.progress {
    height: 100%;
    background-color: #E26D5C;
    width: 0;
    transition: width 1s ease;
}
