.cardsContainer {
    display: flex; /* Flex container for the cards */
    justify-content: center; /* Center cards */
    gap: 2rem; /* Space between cards */
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    padding: 0.2rem; /* Padding around the container */
}

.card {
    background-color: #ffffff; /* White background */


    padding: 2rem; /* Padding inside the card */
    max-width: 300px; /* Set a max width for the card */
    flex: 1; /* Allow the card to grow */
    min-width: 400px; /* Minimum width for the card */
    transition: transform 0.3s; /* Animation on hover */
    text-align: left; /* Align text to the left */

    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #e8e8e8;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5)

}

.card:hover {
    transform: translateY(-8px); /* Lift effect on hover */
}

.cardContent {
    display: flex; /* Flex layout for icon and text */
    align-items: center; /* Center align items */
}

.icon {
    color: #E26D5C; /* Icon color */
    font-size: 2rem; /* Increase icon size */
    margin-right: 1rem; /* Space between icon and text */
}

.cardTitle {
    font-size: 1.2rem; /* Title size */
    margin: 0; /* No margin */
    color: #E26D5C; /* Title color */
}

.cardText {
    margin: 0; /* No margin for text */
    font-size: 1rem; /* Text size */
    color: #555; /* Text color */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .cardsContainer {
        justify-content: center; /* Center on smaller screens */
    }

    .card {
        max-width: 100%; /* Full width on smaller screens */
        flex: 1 1 100%; /* Allow cards to take full width */
      margin-left:50px;
      margin-right:50px;
    }
}
