.contactContainer {
    text-align: center;
    padding: 2rem;
}

.title {
    color: #E26D5C;

padding: 20px 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.subtitle {
    color: #848484;
    margin-bottom: 2rem;
    text-align: center;
}
