.languageSelect {
    border: none;
    background: transparent;
    color: black;
    font-size: 1.2rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: color 0.3s;
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.languageSelect:hover {
    color: #E26D5C; 
}
